@import "tailwindcss";
/* Invece di ../ scansiona solo la cartella src e file specifici */
@source "./**/*.{js,jsx,ts,tsx,html}";
/* @source "../../src"; */

@import "../styles/variables.css";
@import "../styles/base.css";
@import "../styles/components.css";

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}