@import "tailwindcss";
/* Invece di ../ scansiona solo la cartella src e file specifici */
@source "./**/*.{js,jsx,ts,tsx,html}";
/* @source "../../src"; */

@import "../styles/variables.css";
@import "../styles/base.css";
@import "../styles/components.css";